.Contact-holder{
    display: flex;
    align-items: center;
    justify-content: center;



    text-align: center;


    min-height: 130vh;

    background-color: transparent;

    color: white; 
}

.Contact-teacher{

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;


    gap: 1em;

    flex-direction: column;
    background-color: transparent;
}

.Contact-title{
    font-size: 30px;
    color: var(--clr-drew-green);
}

.Contact-info{
    width: 80%;

}

.Links-holder{
    display: flex;
    flex-direction: column;
    gap: 1em;

    width: 80%;

}

.Button-Contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1em;


    width: 100%;
    background-color: transparent;
}

.Remind-title{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 18px;

    text-align: left;
}


.Remind-links{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    align-items: center;
    justify-content: center;
    gap: 1em;

    background-color: transparent;

 
}



.Developer-contact{
    position: absolute;
    bottom: 0;
    right: 0;

    font-size: 25px;

    width: 5%;

}

.Code{
    color: white;
}

.Code:hover{
    color: var(--clr-drew-green);
}



@media screen and (max-width: 1300px) {

.Contact-info{
        width: 90%;
    }

    .Button-container{
        background-color: transparent;
    }

    .Remind-links{
        flex-direction: column;
    }

    .Links-holder{
        background-color: transparent;
    }


    .Remind-links{
        grid-template-columns: repeat(3, 1fr);
    }

}

@media screen and (max-width: 900px) {

    .Remind-links{
        grid-template-columns: repeat(2,1fr);
    }

    .Developer-contact{
        position: absolute;
        right: 0;
        bottom: 0;
    
        font-size: 25px;
    
        width: 10%;    
    }


}


@media screen and (max-width: 600px) {

    .Remind-links{
        grid-template-columns: 1fr;
    }


    .Remind-title{
        text-align: center;
    }

    .Button-container{
        background-color: transparent;
    }


}



